<div class="max-w-7xl mx-auto">
  <div role="region" aria-label="Image Carousel" #carousel>
    <div>
      <div (click)="goToPrevious()"
        class="absolute top-[50%] text-2xl xl:text-4xl text-blue-600 left-[8px] xl:left-[32px] z-10 cursor-pointer">❰
      </div>
      <div (click)="goToNext()"
        class="absolute top-[50%] text-2xl xl:text-4xl text-blue-600 right-[20px] xl:right-[32px] z-10 cursor-pointer">❱
      </div>
    </div>
    <div class="relative">

      <div
        class="grid auto-rows-min xl:grid-rows-none griwd-rows-2 xl:grid-cols-2 gap-6 xl:gap-12 text-lg font-semibold slide">
        <div class="my-2 xl:my-24 content-center px-8 xl:px-0">
          <div class="my-8">
            <span class="text-base xl:text-2xl text-left text-gray-800 leading-normal">
              {{ getCurrentSlideContent() }}
            </span>
          </div>
          <div class="my-2 text-sm text-center" data-aos="fade-right" data-aos-duration="2000">
            <button class="rounded-2xl bg-blue-600 p-2 px-4 text-white">Get in touch</button>
          </div>

        </div>
        <div class="my-2 xl:my-24 justify-items-center">
          <div class="overflow-hidden" data-aos="zoom-in" data-aos-duration="2000">
            <img loading="lazy" [src]="getCurrentSlideUrl()"
              class="object-cover overflow-hidden relative block rounded-xl xl:aspect-square px-8 h-[240px] w-screen xl:h-[340px] xl:w-[520px]" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
