<ng-container *ngComponentOutlet="getHeaderComponent(); inputs: persona.header">
</ng-container>
<!-- <app-animated-background></app-animated-background> -->
<div class="relative my-12 px-4" id="home">
  <div class="max-w-7xl mx-auto">
    <div class="pt-20 px-8 xl:p-20 grid grid-rows-1 xl:grid-cols-2 gap-16 justify-items-center items-center">
      <h1 class="text-4xl xl:text-5xl text-center text-primary" data-aos="zoom-in" data-aos-duration="2000">
        Revolutionize Your Business. Let's
        <span class="text-secondary">Build
        </span> the future together.
      </h1>
      <div>
        <p-carousel [value]="images" [numVisible]="1" [numScroll]="1" [autoplayInterval]="3000" [showNavigators]="false"
          [responsiveOptions]="responsiveOptions">
          <ng-template let-product pTemplate="item">
            <img src="{{product}}" class="w-full border-round" />
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>

<div class="pt-4 text-gray-800 px-4" id="services">
  <h2 class="text-center text-3xl xl:text-5xl font-semibold text-gray-800" data-aos="fade-up" data-aos-duration="2000">
    What we <span class="text-secondary">offer?</span></h2>
  <div class="mt-12">
    <app-services></app-services>
  </div>
</div>

<div class="mt-16" id="projects">
  <div class="max-w-7xl mx-auto">
    <h2 class="text-center text-3xl xl:text-5xl font-semibold text-gray-800 my-12" data-aos="fade-up"
      data-aos-duration="2000">Our Featured <span class="text-secondary">Projects</span></h2>
      <div class="hidden xl:block">
        <app-horizontal-scroll></app-horizontal-scroll>
      </div>
      <div class="xl:hidden grid justify-center">
        <p-accordion [activeIndex]="0" class="bg-background">
          <ng-container *ngFor="let company of companies">
            <p-accordionTab class="bg-background" iconPos="end">
              <ng-template pTemplate="header">
                <div class="flex-shrink-0 h-16 flex items-center justify-center font-bold cursor-pointer px-4">
                  <img src="{{ company.path }}" *ngIf="company.path" class="h-14 object-contain" />
                  <span *ngIf="!company.path" class="text-xl">{{company.name}}</span>
                </div>
              </ng-template>
              <div class="py-4 px-4">
                <p class="transition-transform duration-300 ease-in-out text-lg">
                  {{ company.desc}}
                </p>
                <a href={{company.site}} target="_blank" class="text-primary underline pt-8">View
                  Site</a>
              </div>
              <div class="flex flex-row px-4">
                <img *ngFor="let img of company.images" src={{img}} class="h-16 object-fit" />
              </div>

            </p-accordionTab>
            <p-footer>
              <hr/>
            </p-footer>
          </ng-container>
        </p-accordion>
      </div>
  </div>

</div>
<div class="my-16 px-4" id="whyus">
  <div class="max-w-7xl mx-auto">
    <h2 class="text-center text-3xl xl:text-5xl font-semibold text-gray-800 my-12" data-aos="fade-up"
      data-aos-duration="2000">Why <span class="text-secondary">Choose</span>
      us?
    </h2>
    <div class="max-w-2xl mx-auto">
      <p-carousel [value]="chooseUs" [numVisible]="1" [numScroll]="1" [autoplayInterval]="7000" [showNavigators]="false"
        [responsiveOptions]="responsiveOptions">
        <ng-template let-text pTemplate="item">
          <p class="text-gray-800 text-xl py-8 text-center">{{text}}</p>
          <hr />
        </ng-template>
      </p-carousel>
    </div>
  </div>
</div>

<div class="my-12 px-4" id="contact">
  <div class="max-w-7xl mx-auto">
    <h2 class="text-center text-3xl xl:text-5xl font-semibold text-gray-800 my-12" data-aos="zoom-in"
      data-aos-duration="2000">Love to hear from you. Get in <span class="text-secondary">touch.</span></h2>

    <div class="text-gray-800 text-xl py-8 flex flex-col">
      <a href="mailto:contactus@vsftcloud.com">
        <p class="flex flex-row justify-start xl:justify-center my-2" data-aos="fade-right" data-aos-duration="1000">
          <img src="assets/images/email.svg" class="h-8 mx-4">
          contactus&#64;vsftcloud.com
        </p>
      </a>
      <a
        href="https://www.google.com/maps/place/Pleasanton+CA/data=!4m2!3m1!1s0x808fe9a261ba755f:0xb3ab6847e1ea7d16?sa=X&ved=1t:155783&ictx=111">
        <p class="flex flex-row justify-start xl:justify-center my-2" data-aos="fade-right" data-aos-duration="2000">
          <img src="assets/images/address.svg" class="h-8 mx-4">Pleasanton CA 94588</p>
      </a>
    </div>
  </div>



</div>
<div class="mt-12">
  <app-footer></app-footer>
</div>
