
<div class="w-full text-black">
  <div class="max-w-7xl mx-auto">
    <div class="grid auto-rows-min xl:grid-rows-none xl:grid-cols-2 gap-6 xl:gap-12 p-4">
      <div class="place-items-start mt-2" #advisory>
          <h2 class="text-primary text-2xl xl:text-4xl text-left" data-aos="fade-right" data-aos-duration="2000">Advisory</h2>
          <p class="text-base xl:text-xl break-words mt-4" data-aos="fade-right" data-aos-duration="3000">
            Gain strategic insights and benefits from comprehensive technical reviews, and achieve accelerated development with expert backend, frontend, and DevOps solutions.
          </p>


      </div>
      <div class="place-items-center">
          <img src="assets/images/advisory.png" class="h-60" data-aos="zoom-in" data-aos-duration="2000">
      </div>
    </div>
    <hr/>
    <div class="grid auto-rows-min xl:grid-rows-none xl:grid-cols-2 gap-6 xl:gap-12 xl:text-lg  p-4">
      <div class="place-items-start mt-2">
          <h2 class="text-primary text-2xl xl:text-4xl text-left" data-aos="fade-right" data-aos-duration="2000">Product Development</h2>
          <p class="text-base xl:text-xl break-words mt-4" data-aos="fade-right" data-aos-duration="3000">
            Bring market-ready products to life with our product development services. Prototypes & MVPs, SaaS, web, and mobile applications, managed services from planning and design to coding, testing, and ongoing maintenance.
          </p>
      </div>
      <div class="place-items-center">
          <img src="assets/images/product.png" class="h-60" data-aos="zoom-in" data-aos-duration="2000">
      </div>
    </div>
    <hr/>

    <div class="grid auto-rows-min xl:grid-rows-none xl:grid-cols-2 gap-6 xl:gap-12 xl:text-lg  p-4">
      <div class="place-items-start mt-2">
          <h2 class="text-primary text-2xl xl:text-4xl text-left" data-aos="fade-right" data-aos-duration="2000">Global Delivery Services</h2>
          <p class="text-base xl:text-xl break-words mt-4" data-aos="fade-right" data-aos-duration="3000">
            Reduce investment costs while ensuring continuous resource availability around the clock. Exceptional scalability and flexibility in resource allocation, seamlessly combine onsite and offshore resources. Operational efficiency through increased transparency and visibility across all processes and workflows.
          </p>
      </div>
      <div class="place-items-center">
          <img src="assets/images/global.png" class="h-60" data-aos="zoom-in" data-aos-duration="2000">

      </div>
    </div>
    <hr/>
    <div class="grid auto-rows-min xl:grid-rows-none xl:grid-cols-2 gap-6 xl:gap-12 xl:text-lg  p-4">
      <div class="place-items-start mt-2">
          <h2 class="text-primary text-2xl xl:text-4xl text-left" data-aos="fade-right" data-aos-duration="2000">Strategic Alliance</h2>
          <p class="text-base xl:text-xl break-words mt-4" data-aos="fade-right" data-aos-duration="3000">
            Expand your client base, enhance competitive skills, explore new business opportunities, and navigate industry fluctuations effectively. Build intellectual capital, mitigate risks, and leverage cost-efficient alternatives to mergers or acquisitions for sustainable growth.
          </p>
      </div>
      <div class="place-items-center">
          <img src="assets/images/strategic-alliance.png" class="h-60" data-aos="zoom-in" data-aos-duration="2000">
      </div>
    </div>

  </div>

</div>
