.background-container {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.animated-circle {
  position: absolute;
  border-radius: 9999px;
  border-color: #90e9e9;
  border-width: 1px;
  background-color: #e3f9fa;
  z-index: -100;
}

@keyframes float {
  0% { transform: translate(0, 0) rotate(0deg); }
  50% { transform: translate(20px, 20px) rotate(180deg); }
  100% { transform: translate(0, 0) rotate(360deg); }
}
