<div class="mx-6 py-2" (mouseenter)="showSubMenu(props.menu[keys].submenu)"
  (mouseleave)="hideSubMenu(props.menu[keys].submenu)" *ngIf="!props.menu[keys].isPrimary">
  <a class="text-center transition-all duration-300 ease-in-out " [routerLink]="props.menu[keys].path"
    [fragment]="props.menu[keys].fragment">
    <ul>
      <li class="vs-menu pt-2"> {{ keys }}</li>
    </ul>
  </a>
</div>
<ul>
  <li class="vs-menu py-2" *ngIf="props.menu[keys].isPrimary">
    <button class="rounded-full bg-primary text-white text-center px-4 p-2" [routerLink]="props.menu[keys].path"
      [fragment]="props.menu[keys].fragment"><a class="text-center transition-all duration-300 ease-in-out">
        {{ keys }}
      </a></button>
  </li>
</ul>